In [13]:
import pandas as pd

In [14]:
inter_sig = {27140, 41480, 29200, 30230, 28185, 11290, 47130, 41500, 46110, 27170, 28710, 28200, 11305, 48170, 47150, 46130, 11320, 27710, 47170, 46150, 45130, 28237, 41550, 48720, 45140, 28245, 47190, 26710, 26200, 11350, 48730, 46170, 48220, 27230, 41570, 48740, 28260, 47210, 48240, 47730, 11380, 41590, 26230, 46710, 44150, 43130, 48250, 45180, 47230, 42110, 45190, 41610, 48270, 45710, 43150, 42130, 47250, 11410, 44180, 46230, 45720, 47770, 27290, 45210, 41630, 44710, 44200, 47280, 11440, 41650, 46770, 48820, 44210, 48310, 42170, 47290, 46780, 41150, 46790, 44230, 48840, 43720, 48330, 45770, 47820, 42190, 11470, 46800, 43730, 47830, 44760, 46810, 44250, 43740, 45790, 42720, 47840, 42210, 44770, 46820, 41190, 48870, 45800, 43750, 42730, 47850, 11500, 26350, 46830, 48880, 43760, 42230, 46840, 48890, 41210, 43770, 42750, 44800, 41730, 41220, 11530, 44810, 26380, 46860, 42770, 46870, 11545, 42780, 47900, 44830, 46880, 41250, 11560, 26410, 46890, 42800, 47920, 46900, 42810, 47930, 46910, 42820, 11590, 26440, 41820, 41310, 11620, 26470, 11110, 11650, 26500, 11140, 31110, 41360, 41370, 30110, 11680, 26530, 11170, 31140, 41390, 29110, 30140, 11710, 11200, 41410, 31170, 28110, 11215, 29140, 41430, 30170, 11740, 11230, 31710, 31200, 29155, 41450, 29170, 30200, 11260, 26110}

In [15]:
inter_sig = list(inter_sig)

In [31]:
inter_sig

[27140,
 41480,
 29200,
 30230,
 28185,
 11290,
 47130,
 41500,
 46110,
 27170,
 28710,
 28200,
 11305,
 48170,
 47150,
 46130,
 11320,
 27710,
 47170,
 46150,
 45130,
 28237,
 41550,
 48720,
 45140,
 28245,
 47190,
 26710,
 26200,
 11350,
 48730,
 46170,
 48220,
 27230,
 41570,
 48740,
 28260,
 47210,
 48240,
 47730,
 11380,
 41590,
 26230,
 46710,
 44150,
 43130,
 48250,
 45180,
 47230,
 42110,
 45190,
 41610,
 48270,
 45710,
 43150,
 42130,
 47250,
 11410,
 44180,
 46230,
 45720,
 47770,
 27290,
 45210,
 41630,
 44710,
 44200,
 47280,
 11440,
 41650,
 46770,
 48820,
 44210,
 48310,
 42170,
 47290,
 46780,
 41150,
 46790,
 44230,
 48840,
 43720,
 48330,
 45770,
 47820,
 42190,
 11470,
 46800,
 43730,
 47830,
 44760,
 46810,
 44250,
 43740,
 45790,
 42720,
 47840,
 42210,
 44770,
 46820,
 41190,
 48870,
 45800,
 43750,
 42730,
 47850,
 11500,
 26350,
 46830,
 48880,
 43760,
 42230,
 46840,
 48890,
 41210,
 43770,
 42750,
 44800,
 41730,
 41220,
 11530,
 44810,
 26380,
 46860,
 42770,
 46870,
 11545,
 42780,
 47900,
 44830,
 46880,
 41250,
 11560,
 26410,
 46890,
 42800,
 47920,
 46900,
 42810,
 47930,
 46910,
 42820,
 11590,
 26440,
 41820,
 41310,
 11620,
 26470,
 11110,
 11650,
 26500,
 11140,
 31110,
 41360,
 41370,
 30110,
 11680,
 26530,
 11170,
 31140,
 41390,
 29110,
 30140,
 11710,
 11200,
 41410,
 31170,
 28110,
 11215,
 29140,
 41430,
 30170,
 11740,
 11230,
 31710,
 31200,
 29155,
 41450,
 29170,
 30200,
 11260,
 26110]

In [16]:
len(inter_sig)

182

In [26]:
def sortbaby(df, sigidx, intersection):
    
    #변수설정
    df_sig = list(df.iloc[:,sigidx])
    del_list = []
    column_name = df.columns[sigidx]
    #없애보자
    for i, sig in enumerate(df_sig):
        if sig in intersection:
            print(sig)
            pass
        else:
            del_list.append(i)
    drop_data = df.drop(del_list, axis=0)
    drop_data = drop_data.drop_duplicates(subset=column_name)
    print(len(del_list))
    #drop_data를 sigidx기준으로 정렬
    sorted_df = drop_data.sort_values(by=column_name)
    
    return sorted_df

In [27]:
df1 = pd.read_csv('3대사망자.csv', encoding='utf-8')

In [28]:
df1

     Unnamed: 0           시군구별 순환계통 사망자수 운수사고 사망자수 낙상(추락) 사망자수 사망자수 합계  sig_cd
0             0          00 전국    62,370     3,624       2,722  68,716       0
1             1       11 서울특별시     9,350       367         423  10,140      11
2             2   　　　11010 종로구       229         7          11     247   11010
3             3    　　　11020 중구       194         4          10     208   11020
4             4   　　　11030 용산구       247         5          14     266   11030
..          ...            ...       ...       ...         ...     ...     ...
297         297         39 제주도       760        52          29     841      39
298         298   　　　39010 제주시       551        32          18     601   39010
299         299  　　　39020 서귀포시       209        20          11     240   39020
300         300  　　　39310 북제주군       NaN       NaN         NaN       0   39310
301         301  　　　39320 남제주군       NaN       NaN         NaN       0   39320

[302 rows x 7 columns]

In [29]:
df2 = sortbaby(df1, 6, inter_sig)

11110
11140
11170
11200
11230
31110
31140
31170
31200
293

In [30]:
df2

     Unnamed: 0          시군구별 순환계통 사망자수 운수사고 사망자수 낙상(추락) 사망자수 사망자수 합계  sig_cd
12           12  　　　11110 노원구       545        13          31     589   11110
15           15  　　　11140 마포구       307        10          13     330   11140
18           18  　　　11170 구로구       382        13          24     419   11170
21           21  　　　11200 동작구       349        11          14     374   11200
24           24  　　　11230 강남구       356        11           6     373   11230
114         114  　　　31110 과천시        45         1           2      48   31110
117         117  　　　31140 오산시       235        13           9     257   31140
120         120  　　　31170 의왕시       187         3           2     192   31170
126         126  　　　31200 파주시       462        30          20     512   31200

In [ ]:
s