In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('구급차.csv', encoding='cp949')

In [3]:
df2 = pd.read_csv('기대수명.csv', encoding='cp949')
df3 = pd.read_csv('병원개수최최.csv', encoding='utf-8')
df4 = pd.read_csv('보건시설.csv', encoding='cp949')
df5 = pd.read_csv('구급차 수.csv', encoding='utf-8')
df6 = pd.read_csv('의사수.csv', encoding='cp949')

In [4]:
df7 = pd.read_csv('지방소멸.csv', encoding='cp949')

In [5]:
df7

,시군구,계,남자,여자,노인수,가임기여성,인구소멸지수,노인인구비율,시군구 코드
0,강원도 강릉시,210630,104403,106227,50408,20049,0.397734,0.239320,42150.0
1,강원도 고성군,27157,14003,13154,8614,1931,0.224170,0.317193,42820.0
2,강원도 동해시,89150,45303,43847,20314,7411,0.364822,0.227863,42170.0
3,강원도 삼척시,63444,32193,31251,17718,5206,0.293825,0.279270,42230.0
4,강원도 속초시,82499,40867,41632,17861,7793,0.436314,0.216500,42210.0
...,...,...,...,...,...,...,...,...,...
245,충청북도 청주시 상당구,197775,98278,99497,34083,22608,0.663322,0.172332,43111.0
246,충청북도 청주시 서원구,189070,94272,94798,33130,22415,0.676577,0.175226,NaN
247,충청북도 청주시 청원구,193037,99589,93448,28213,23855,0.845532,0.146153,NaN
248,충청북도 청주시 흥덕구,270005,137361,132644,34397,36863,1.071692,0.127394,43113.0
249,충청북도 충주시,207993,105422,102571,46834,19424,0.414741,0.225171,43130.0

In [6]:
df7.columns

Index(['시군구', '계', '남자', '여자', '노인수', '가임기여성', '인구소멸지수', '노인인구비율', ' 시군구 코드 '], dtype='object')

In [7]:
df7_sigset = set(df7[' 시군구 코드 '].unique())

In [8]:
df1_sigset = set(df1['시군구코드'].unique())

In [9]:
df1_sigset

{11110,
 11140,
 11170,
 11200,
 11215,
 11230,
 11260,
 11290,
 11305,
 11320,
 11350,
 11380,
 11410,
 11440,
 11470,
 11500,
 11530,
 11545,
 11560,
 11590,
 11620,
 11650,
 11680,
 11710,
 11740,
 26110,
 26140,
 26170,
 26200,
 26230,
 26260,
 26290,
 26320,
 26350,
 26380,
 26410,
 26440,
 26470,
 26500,
 26530,
 26710,
 27110,
 27140,
 27170,
 27200,
 27230,
 27290,
 27710,
 28110,
 28170,
 28177,
 28185,
 28200,
 28237,
 28245,
 28260,
 28710,
 28720,
 29110,
 29140,
 29155,
 29170,
 29200,
 30110,
 30140,
 30170,
 30200,
 30230,
 31110,
 31140,
 31170,
 31200,
 31710,
 36110,
 41111,
 41113,
 41115,
 41117,
 41131,
 41133,
 41135,
 41150,
 41171,
 41173,
 41190,
 41210,
 41220,
 41250,
 41271,
 41273,
 41281,
 41285,
 41287,
 41290,
 41310,
 41360,
 41370,
 41390,
 41410,
 41430,
 41450,
 41461,
 41463,
 41465,
 41480,
 41500,
 41550,
 41570,
 41590,
 41610,
 41630,
 41650,
 41730,
 41800,
 41820,
 41830,
 42110,
 42130,
 42150,
 42170,
 42190,
 42210,
 42230,
 42720,
 42730,
 42750,
 42760,
 42770,
 42780,
 42790,
 42800,
 42810,
 42820,
 42830,
 43111,
 43112,
 43113,
 43114,
 43130,
 43150,
 43720,
 43730,
 43740,
 43745,
 43750,
 43760,
 43770,
 43800,
 44131,
 44133,
 44150,
 44180,
 44200,
 44210,
 44230,
 44250,
 44710,
 44760,
 44770,
 44790,
 44800,
 44810,
 44825,
 44830,
 45111,
 45113,
 45130,
 45140,
 45180,
 45190,
 45210,
 45710,
 45720,
 45730,
 45740,
 45750,
 45770,
 45790,
 45800,
 46110,
 46130,
 46150,
 46170,
 46230,
 46710,
 46720,
 46730,
 46770,
 46780,
 46790,
 46800,
 46810,
 46820,
 46830,
 46840,
 46860,
 46870,
 46880,
 46890,
 46900,
 46910,
 47111,
 47113,
 47130,
 47150,
 47170,
 47190,
 47210,
 47230,
 47250,
 47280,
 47290,
 47720,
 47730,
 47750,
 47760,
 47770,
 47820,
 47830,
 47840,
 47850,
 47900,
 47920,
 47930,
 47940,
 48121,
 48123,
 48125,
 48127,
 48129,
 48170,
 48220,
 48240,
 48250,
 48270,
 48310,
 48330,
 48720,
 48730,
 48740,
 48820,
 48840,
 48850,
 48860,
 48870,
 48880,
 48890,
 50110,
 50130}

In [10]:
len(df1_sigset)

249

In [11]:
df2_sigset = set(df2['시군구 코드'].unique())
print(len(df2_sigset))

250

In [12]:
df3_sigset = set(df3['시군구 코드'].unique())
print(len(df3_sigset))

228

In [13]:
df4_sigset = set(df4['시군구코드'].unique())
print(len(df4_sigset))

249

In [14]:
df5_sigset = set(df5['시군구 코드'].unique())
print(len(df5_sigset))

218

In [15]:
df6_sigset = set(df6['코드'].unique())
print(len(df3_sigset))

228

In [16]:
sigset_intersection = df1_sigset.intersection(df1_sigset, df2_sigset, df3_sigset, df4_sigset, df5_sigset, df6_sigset, df7_sigset)
print(sigset_intersection)

{27140, 41480, 29200, 30230, 28185, 11290, 47130, 41500, 46110, 27170, 28710, 28200, 11305, 48170, 47150, 46130, 11320, 27710, 47170, 46150, 45130, 28237, 41550, 48720, 45140, 28245, 47190, 26710, 26200, 11350, 48730, 46170, 48220, 27230, 41570, 48740, 28260, 47210, 48240, 47730, 11380, 41590, 26230, 46710, 44150, 43130, 48250, 45180, 47230, 42110, 45190, 41610, 48270, 45710, 43150, 42130, 47250, 11410, 44180, 46230, 45720, 47770, 27290, 45210, 41630, 44710, 44200, 47280, 11440, 41650, 46770, 48820, 44210, 48310, 42170, 47290, 46780, 41150, 46790, 44230, 48840, 43720, 48330, 45770, 47820, 42190, 11470, 46800, 43730, 47830, 44760, 46810, 44250, 43740, 45790, 42720, 47840, 42210, 44770, 46820, 41190, 48870, 45800, 43750, 42730, 47850, 11500, 26350, 46830, 48880, 43760, 42230, 46840, 48890, 41210, 43770, 42750, 44800, 41730, 41220, 11530, 44810, 26380, 46860, 42770, 46870, 11545, 42780, 47900, 44830, 46880, 41250, 11560, 26410, 46890, 42800, 47920, 46900, 42810, 47930, 46910, 42820, 11590, 26440, 41820, 41310, 11620, 26470, 11110, 11650, 26500, 11140, 31110, 41360, 41370, 30110, 11680, 26530, 11170, 31140, 41390, 29110, 30140, 11710, 11200, 41410, 31170, 28110, 11215, 29140, 41430, 30170, 11740, 11230, 31710, 31200, 29155, 41450, 29170, 30200, 11260, 26110}

In [17]:
len(sigset_intersection)

182

In [18]:
sig = list(sigset_intersection)

In [19]:
def sortbaby(df, sigidx, intersection):
    
    #변수설정
    df_sig = list(df.iloc[:,sigidx])
    del_list = []
    column_name = df.columns[sigidx]
    #없애보자
    for i, sig in enumerate(df_sig):
        if sig in intersection:
            pass
        else:
            del_list.append(i)
    drop_data = df.drop(del_list, axis=0)
    drop_data = drop_data.drop_duplicates(subset=column_name)
    
    #drop_data를 sigidx기준으로 정렬
    sorted_df = drop_data.sort_values(by=column_name)
    
    return sorted_df

In [113]:
a = sortbaby(df1, 4, sigset_intersection)

In [114]:
a

          행정구역   순위 취약인구 수(명)  비율(%)  시군구코드
215  서울특별시 종로구  176         0   0.00  11110
217   서울특별시 중구  176         0   0.00  11140
213  서울특별시 용산구  176         0   0.00  11170
245  서울특별시 성동구  176         0   0.00  11200
232  서울특별시 광진구  176         0   0.00  11215
..         ...  ...       ...    ...    ...
110   경상남도 고성군  110    11,779   0.37  48820
63    경상남도 남해군   64    18,920   0.60  48840
107   경상남도 함양군  106    11,893   0.38  48870
104   경상남도 거창군  104    12,397   0.39  48880
45    경상남도 합천군   46    22,985   0.73  48890

[182 rows x 5 columns]

In [115]:
a['순위'] = a['취약인구 수(명)'].rank(ascending=True)

In [116]:
a

          행정구역     순위 취약인구 수(명)  비율(%)  시군구코드
215  서울특별시 종로구   20.0         0   0.00  11110
217   서울특별시 중구   20.0         0   0.00  11140
213  서울특별시 용산구   20.0         0   0.00  11170
245  서울특별시 성동구   20.0         0   0.00  11200
232  서울특별시 광진구   20.0         0   0.00  11215
..         ...    ...       ...    ...    ...
110   경상남도 고성군   50.0    11,779   0.37  48820
63    경상남도 남해군   90.0    18,920   0.60  48840
107   경상남도 함양군   52.0    11,893   0.38  48870
104   경상남도 거창군   56.0    12,397   0.39  48880
45    경상남도 합천군  110.0    22,985   0.73  48890

[182 rows x 5 columns]

In [117]:
b = sortbaby(df2, 5, sigset_intersection)

In [118]:
b

     지표연도        시군구  평균 기대수명     시도   군구  시군구 코드   순위
18   2019  서울특별시 종로구    85.31  서울특별시  종로구   11110   19
17   2019   서울특별시 중구    85.36  서울특별시   중구   11140   18
8    2019  서울특별시 용산구    85.68  서울특별시  용산구   11170    9
15   2019  서울특별시 성동구    85.38  서울특별시  성동구   11200   16
21   2019  서울특별시 광진구    85.10  서울특별시  광진구   11215   22
..    ...        ...      ...    ...  ...     ...  ...
249  2019   경상남도 고성군    81.42   경상남도  고성군   48820  250
212  2019   경상남도 남해군    82.22   경상남도  남해군   48840  213
177  2019   경상남도 함양군    82.63   경상남도  함양군   48870  177
112  2019   경상남도 거창군    83.24   경상남도  거창군   48880  113
236  2019   경상남도 합천군    81.67   경상남도  합천군   48890  237

[182 rows x 7 columns]

In [119]:
df3

     Unnamed: 0  시군구 코드  데이터 개수       시군구   2023년03월_계_총인구수
0             0   27290      41  대구광역시 달서구           536483
1             1   11680      37  서울특별시 강남구           532798
2             2   29170      32   광주광역시 북구           423723
3             3   48250      28   경상남도 김해시           533541
4             4   29140      27   광주광역시 서구           286826
..          ...     ...     ...        ...              ...
223         223   47850       1   경상북도 칠곡군           111894
224         224   47900       1   경상북도 예천군            55651
225         225   47920       1   경상북도 봉화군            30037
226         226   46720       1   전라남도 곡성군            27007
227         227   47930       1   경상북도 울진군            46824

[228 rows x 5 columns]

In [120]:
c = sortbaby(df3, 1, sigset_intersection)

In [121]:
c

     Unnamed: 0  시군구 코드  데이터 개수       시군구   2023년03월_계_총인구수
104         104   11110       6  서울특별시 종로구           141060
127         127   11140       5   서울특별시 중구           120963
155         155   11170       3  서울특별시 용산구           217756
106         106   11200       6  서울특별시 성동구           280240
107         107   11215       6  서울특별시 광진구           336801
..          ...     ...     ...        ...              ...
179         179   48820       2   경상남도 고성군            50115
206         206   48840       1   경상남도 남해군            41425
207         207   48870       1   경상남도 함양군            37386
154         154   48880       3   경상남도 거창군            60462
194         194   48890       1   경상남도 합천군            41919

[182 rows x 5 columns]

In [122]:
c['순위'] = c['데이터 개수'].rank(ascending=False)

In [123]:
c

     Unnamed: 0  시군구 코드  데이터 개수       시군구   2023년03월_계_총인구수     순위
104         104   11110       6  서울특별시 종로구           141060   75.5
127         127   11140       5   서울특별시 중구           120963   89.0
155         155   11170       3  서울특별시 용산구           217756  114.0
106         106   11200       6  서울특별시 성동구           280240   75.5
107         107   11215       6  서울특별시 광진구           336801   75.5
..          ...     ...     ...        ...              ...    ...
179         179   48820       2   경상남도 고성군            50115  138.0
206         206   48840       1   경상남도 남해군            41425  168.0
207         207   48870       1   경상남도 함양군            37386  168.0
154         154   48880       3   경상남도 거창군            60462  114.0
194         194   48890       1   경상남도 합천군            41919  168.0

[182 rows x 6 columns]

In [124]:
d = sortbaby(df4, 4, sigset_intersection)

In [125]:
d

           시도군   순위  보건시설 1개당 65세이상 노인인구(명)  비율(%)  시군구코드
245  서울특별시 종로구  246                   48.22   0.13  11110
247   서울특별시 중구  248                   38.12   0.11  11140
197  서울특별시 용산구  198                   99.24   0.28  11170
210  서울특별시 성동구  211                   93.22   0.26  11200
221  서울특별시 광진구  222                   83.00   0.23  11215
..         ...  ...                     ...    ...    ...
21    경상남도 고성군   22                  214.86   0.60  48820
24    경상남도 남해군   25                  212.99   0.59  48840
57    경상남도 함양군   58                  189.15   0.53  48870
81    경상남도 거창군   82                  168.96   0.47  48880
31    경상남도 합천군   32                  207.63   0.58  48890

[182 rows x 5 columns]

In [126]:
d['순위'] = d['비율(%)'].rank(ascending=True)

In [127]:
d

           시도군     순위  보건시설 1개당 65세이상 노인인구(명)  비율(%)  시군구코드
245  서울특별시 종로구    4.0                   48.22   0.13  11110
247   서울특별시 중구    2.5                   38.12   0.11  11140
197  서울특별시 용산구   35.5                   99.24   0.28  11170
210  서울특별시 성동구   26.5                   93.22   0.26  11200
221  서울특별시 광진구   17.0                   83.00   0.23  11215
..         ...    ...                     ...    ...    ...
21    경상남도 고성군  168.5                  214.86   0.60  48820
24    경상남도 남해군  166.0                  212.99   0.59  48840
57    경상남도 함양군  144.0                  189.15   0.53  48870
81    경상남도 거창군  119.5                  168.96   0.47  48880
31    경상남도 합천군  163.0                  207.63   0.58  48890

[182 rows x 5 columns]

In [128]:
e = sortbaby(df5, 4, sigset_intersection)

In [129]:
e

,Unnamed: 0,소방서명,구급차 대수,주소,시군구 코드,시군구,2023년03월_계_총인구수
144,144,서울특별시 종로소방서,7,서울특별시 종로구 율곡로 78(운니동 114-2),11110,서울특별시 종로구,141060
146,146,서울특별시 중부소방서,5,서울특별시 중구 퇴계로 394(무학동),11140,서울특별시 중구,120963
142,142,서울특별시 용산소방서,6,서울특별시 용산구 한강대로 167 (한강로2가),11170,서울특별시 용산구,217756
137,137,서울특별시 성동소방서,4,서울특별시 성동구 살곶이길 331(행당동),11200,서울특별시 성동구,280240
127,127,서울특별시 광진소방서,6,서울특별시 광진구 광나루로 480 (구의동),11215,서울특별시 광진구,336801
...,...,...,...,...,...,...,...
53,53,경상남도 고성소방서,5,경상남도 고성군 고성읍 남해안대로 2670,48820,경상남도 고성군,50115
56,56,경상남도 남해소방서,5,경상남도 남해군 남해읍 스포츠로 81,48840,경상남도 남해군,41425
70,70,경상남도 함양소방서,6,경상남도 함양군 함양읍 고운로 161-41,48870,경상남도 함양군,37386
52,52,경상남도 거창소방서,6,경상남도 거창군 거창읍 거함대로 3324,48880,경상남도 거창군,60462
71,71,경상남도 합천소방서,7,경상남도 합천군 합천읍 인덕로 2453,48890,경상남도 합천군,41919

In [130]:
e['순위'] = e['구급차 대수'].rank(ascending=False)

In [131]:
e

,Unnamed: 0,소방서명,구급차 대수,주소,시군구 코드,시군구,2023년03월_계_총인구수,순위
144,144,서울특별시 종로소방서,7,서울특별시 종로구 율곡로 78(운니동 114-2),11110,서울특별시 종로구,141060,93.5
146,146,서울특별시 중부소방서,5,서울특별시 중구 퇴계로 394(무학동),11140,서울특별시 중구,120963,153.5
142,142,서울특별시 용산소방서,6,서울특별시 용산구 한강대로 167 (한강로2가),11170,서울특별시 용산구,217756,124.5
137,137,서울특별시 성동소방서,4,서울특별시 성동구 살곶이길 331(행당동),11200,서울특별시 성동구,280240,173.0
127,127,서울특별시 광진소방서,6,서울특별시 광진구 광나루로 480 (구의동),11215,서울특별시 광진구,336801,124.5
...,...,...,...,...,...,...,...,...
53,53,경상남도 고성소방서,5,경상남도 고성군 고성읍 남해안대로 2670,48820,경상남도 고성군,50115,153.5
56,56,경상남도 남해소방서,5,경상남도 남해군 남해읍 스포츠로 81,48840,경상남도 남해군,41425,153.5
70,70,경상남도 함양소방서,6,경상남도 함양군 함양읍 고운로 161-41,48870,경상남도 함양군,37386,124.5
52,52,경상남도 거창소방서,6,경상남도 거창군 거창읍 거함대로 3324,48880,경상남도 거창군,60462,124.5
71,71,경상남도 합천소방서,7,경상남도 합천군 합천읍 인덕로 2453,48890,경상남도 합천군,41919,93.5

In [132]:
f = sortbaby(df6, 3, sigset_intersection)

In [133]:
f

          행정구역   순위  인구 1000명당 의사수     코드
0    서울특별시 종로구    1           21.1  11110
5     서울특별시 중구    6           10.2  11140
32   서울특별시 용산구   30            3.6  11170
30   서울특별시 성동구   30            3.6  11200
25   서울특별시 광진구   24            3.8  11215
..         ...  ...            ...    ...
182   경상남도 고성군  169            1.8  48820
194   경상남도 남해군  184            1.7  48840
176   경상남도 함양군  169            1.8  48870
146   경상남도 거창군  137            2.0  48880
120   경상남도 합천군  114            2.2  48890

[182 rows x 4 columns]

In [134]:
df7 = pd.read_csv('지방소멸.csv', encoding='cp949')

In [135]:
df7

,시군구,계,남자,여자,노인수,가임기여성,인구소멸지수,노인인구비율,시군구 코드
0,강원도 강릉시,210630,104403,106227,50408,20049,0.397734,0.239320,42150.0
1,강원도 고성군,27157,14003,13154,8614,1931,0.224170,0.317193,42820.0
2,강원도 동해시,89150,45303,43847,20314,7411,0.364822,0.227863,42170.0
3,강원도 삼척시,63444,32193,31251,17718,5206,0.293825,0.279270,42230.0
4,강원도 속초시,82499,40867,41632,17861,7793,0.436314,0.216500,42210.0
...,...,...,...,...,...,...,...,...,...
245,충청북도 청주시 상당구,197775,98278,99497,34083,22608,0.663322,0.172332,43111.0
246,충청북도 청주시 서원구,189070,94272,94798,33130,22415,0.676577,0.175226,NaN
247,충청북도 청주시 청원구,193037,99589,93448,28213,23855,0.845532,0.146153,NaN
248,충청북도 청주시 흥덕구,270005,137361,132644,34397,36863,1.071692,0.127394,43113.0
249,충청북도 충주시,207993,105422,102571,46834,19424,0.414741,0.225171,43130.0

In [136]:
g = sortbaby(df7, 8, sigset_intersection)

In [137]:
g

,시군구,계,남자,여자,노인수,가임기여성,인구소멸지수,노인인구비율,시군구 코드
162,서울특별시 종로구,140891,68079,72812,28027,21255,0.758376,0.198927,11110.0
163,서울특별시 중구,121250,58806,62444,24977,19602,0.784802,0.205996,11140.0
160,서울특별시 용산구,217611,104580,113031,38955,35839,0.920010,0.179012,11170.0
155,서울특별시 성동구,279980,136059,143921,48118,44552,0.925891,0.171862,11200.0
145,서울특별시 광진구,336558,162071,174487,54703,59331,1.084602,0.162537,11215.0
...,...,...,...,...,...,...,...,...,...
62,경상남도 고성군,50025,25179,24846,17212,2791,0.162154,0.344068,48820.0
64,경상남도 남해군,41394,20137,21257,16813,2060,0.122524,0.406170,48840.0
80,경상남도 함양군,37369,18132,19237,13854,2132,0.153891,0.370735,48870.0
61,경상남도 거창군,60435,29733,30702,18238,4306,0.236100,0.301779,48880.0
81,경상남도 합천군,41868,20385,21483,17815,1985,0.111423,0.425504,48890.0

In [138]:
g['순위'] = g['노인인구비율'].rank(ascending=True)

In [139]:
g

,시군구,계,남자,여자,노인수,가임기여성,인구소멸지수,노인인구비율,시군구 코드,순위
162,서울특별시 종로구,140891,68079,72812,28027,21255,0.758376,0.198927,11110.0,78.0
163,서울특별시 중구,121250,58806,62444,24977,19602,0.784802,0.205996,11140.0,83.0
160,서울특별시 용산구,217611,104580,113031,38955,35839,0.920010,0.179012,11170.0,58.0
155,서울특별시 성동구,279980,136059,143921,48118,44552,0.925891,0.171862,11200.0,50.0
145,서울특별시 광진구,336558,162071,174487,54703,59331,1.084602,0.162537,11215.0,38.0
...,...,...,...,...,...,...,...,...,...,...
62,경상남도 고성군,50025,25179,24846,17212,2791,0.162154,0.344068,48820.0,151.0
64,경상남도 남해군,41394,20137,21257,16813,2060,0.122524,0.406170,48840.0,176.0
80,경상남도 함양군,37369,18132,19237,13854,2132,0.153891,0.370735,48870.0,163.0
61,경상남도 거창군,60435,29733,30702,18238,4306,0.236100,0.301779,48880.0,130.0
81,경상남도 합천군,41868,20385,21483,17815,1985,0.111423,0.425504,48890.0,180.0

# 여기부터 미친모드

a 구급차
b 기대수명
c 병원
d 보건시설
e 소방서
f 의사수
g 지방소멸

In [140]:
a

          행정구역     순위 취약인구 수(명)  비율(%)  시군구코드
215  서울특별시 종로구   20.0         0   0.00  11110
217   서울특별시 중구   20.0         0   0.00  11140
213  서울특별시 용산구   20.0         0   0.00  11170
245  서울특별시 성동구   20.0         0   0.00  11200
232  서울특별시 광진구   20.0         0   0.00  11215
..         ...    ...       ...    ...    ...
110   경상남도 고성군   50.0    11,779   0.37  48820
63    경상남도 남해군   90.0    18,920   0.60  48840
107   경상남도 함양군   52.0    11,893   0.38  48870
104   경상남도 거창군   56.0    12,397   0.39  48880
45    경상남도 합천군  110.0    22,985   0.73  48890

[182 rows x 5 columns]

In [141]:
b

     지표연도        시군구  평균 기대수명     시도   군구  시군구 코드   순위
18   2019  서울특별시 종로구    85.31  서울특별시  종로구   11110   19
17   2019   서울특별시 중구    85.36  서울특별시   중구   11140   18
8    2019  서울특별시 용산구    85.68  서울특별시  용산구   11170    9
15   2019  서울특별시 성동구    85.38  서울특별시  성동구   11200   16
21   2019  서울특별시 광진구    85.10  서울특별시  광진구   11215   22
..    ...        ...      ...    ...  ...     ...  ...
249  2019   경상남도 고성군    81.42   경상남도  고성군   48820  250
212  2019   경상남도 남해군    82.22   경상남도  남해군   48840  213
177  2019   경상남도 함양군    82.63   경상남도  함양군   48870  177
112  2019   경상남도 거창군    83.24   경상남도  거창군   48880  113
236  2019   경상남도 합천군    81.67   경상남도  합천군   48890  237

[182 rows x 7 columns]

In [142]:
c

     Unnamed: 0  시군구 코드  데이터 개수       시군구   2023년03월_계_총인구수     순위
104         104   11110       6  서울특별시 종로구           141060   75.5
127         127   11140       5   서울특별시 중구           120963   89.0
155         155   11170       3  서울특별시 용산구           217756  114.0
106         106   11200       6  서울특별시 성동구           280240   75.5
107         107   11215       6  서울특별시 광진구           336801   75.5
..          ...     ...     ...        ...              ...    ...
179         179   48820       2   경상남도 고성군            50115  138.0
206         206   48840       1   경상남도 남해군            41425  168.0
207         207   48870       1   경상남도 함양군            37386  168.0
154         154   48880       3   경상남도 거창군            60462  114.0
194         194   48890       1   경상남도 합천군            41919  168.0

[182 rows x 6 columns]

In [143]:
d

           시도군     순위  보건시설 1개당 65세이상 노인인구(명)  비율(%)  시군구코드
245  서울특별시 종로구    4.0                   48.22   0.13  11110
247   서울특별시 중구    2.5                   38.12   0.11  11140
197  서울특별시 용산구   35.5                   99.24   0.28  11170
210  서울특별시 성동구   26.5                   93.22   0.26  11200
221  서울특별시 광진구   17.0                   83.00   0.23  11215
..         ...    ...                     ...    ...    ...
21    경상남도 고성군  168.5                  214.86   0.60  48820
24    경상남도 남해군  166.0                  212.99   0.59  48840
57    경상남도 함양군  144.0                  189.15   0.53  48870
81    경상남도 거창군  119.5                  168.96   0.47  48880
31    경상남도 합천군  163.0                  207.63   0.58  48890

[182 rows x 5 columns]

In [144]:
e

,Unnamed: 0,소방서명,구급차 대수,주소,시군구 코드,시군구,2023년03월_계_총인구수,순위
144,144,서울특별시 종로소방서,7,서울특별시 종로구 율곡로 78(운니동 114-2),11110,서울특별시 종로구,141060,93.5
146,146,서울특별시 중부소방서,5,서울특별시 중구 퇴계로 394(무학동),11140,서울특별시 중구,120963,153.5
142,142,서울특별시 용산소방서,6,서울특별시 용산구 한강대로 167 (한강로2가),11170,서울특별시 용산구,217756,124.5
137,137,서울특별시 성동소방서,4,서울특별시 성동구 살곶이길 331(행당동),11200,서울특별시 성동구,280240,173.0
127,127,서울특별시 광진소방서,6,서울특별시 광진구 광나루로 480 (구의동),11215,서울특별시 광진구,336801,124.5
...,...,...,...,...,...,...,...,...
53,53,경상남도 고성소방서,5,경상남도 고성군 고성읍 남해안대로 2670,48820,경상남도 고성군,50115,153.5
56,56,경상남도 남해소방서,5,경상남도 남해군 남해읍 스포츠로 81,48840,경상남도 남해군,41425,153.5
70,70,경상남도 함양소방서,6,경상남도 함양군 함양읍 고운로 161-41,48870,경상남도 함양군,37386,124.5
52,52,경상남도 거창소방서,6,경상남도 거창군 거창읍 거함대로 3324,48880,경상남도 거창군,60462,124.5
71,71,경상남도 합천소방서,7,경상남도 합천군 합천읍 인덕로 2453,48890,경상남도 합천군,41919,93.5

In [145]:
f

          행정구역   순위  인구 1000명당 의사수     코드
0    서울특별시 종로구    1           21.1  11110
5     서울특별시 중구    6           10.2  11140
32   서울특별시 용산구   30            3.6  11170
30   서울특별시 성동구   30            3.6  11200
25   서울특별시 광진구   24            3.8  11215
..         ...  ...            ...    ...
182   경상남도 고성군  169            1.8  48820
194   경상남도 남해군  184            1.7  48840
176   경상남도 함양군  169            1.8  48870
146   경상남도 거창군  137            2.0  48880
120   경상남도 합천군  114            2.2  48890

[182 rows x 4 columns]

In [146]:
g

,시군구,계,남자,여자,노인수,가임기여성,인구소멸지수,노인인구비율,시군구 코드,순위
162,서울특별시 종로구,140891,68079,72812,28027,21255,0.758376,0.198927,11110.0,78.0
163,서울특별시 중구,121250,58806,62444,24977,19602,0.784802,0.205996,11140.0,83.0
160,서울특별시 용산구,217611,104580,113031,38955,35839,0.920010,0.179012,11170.0,58.0
155,서울특별시 성동구,279980,136059,143921,48118,44552,0.925891,0.171862,11200.0,50.0
145,서울특별시 광진구,336558,162071,174487,54703,59331,1.084602,0.162537,11215.0,38.0
...,...,...,...,...,...,...,...,...,...,...
62,경상남도 고성군,50025,25179,24846,17212,2791,0.162154,0.344068,48820.0,151.0
64,경상남도 남해군,41394,20137,21257,16813,2060,0.122524,0.406170,48840.0,176.0
80,경상남도 함양군,37369,18132,19237,13854,2132,0.153891,0.370735,48870.0,163.0
61,경상남도 거창군,60435,29733,30702,18238,4306,0.236100,0.301779,48880.0,130.0
81,경상남도 합천군,41868,20385,21483,17815,1985,0.111423,0.425504,48890.0,180.0

In [147]:
c

     Unnamed: 0  시군구 코드  데이터 개수       시군구   2023년03월_계_총인구수     순위
104         104   11110       6  서울특별시 종로구           141060   75.5
127         127   11140       5   서울특별시 중구           120963   89.0
155         155   11170       3  서울특별시 용산구           217756  114.0
106         106   11200       6  서울특별시 성동구           280240   75.5
107         107   11215       6  서울특별시 광진구           336801   75.5
..          ...     ...     ...        ...              ...    ...
179         179   48820       2   경상남도 고성군            50115  138.0
206         206   48840       1   경상남도 남해군            41425  168.0
207         207   48870       1   경상남도 함양군            37386  168.0
154         154   48880       3   경상남도 거창군            60462  114.0
194         194   48890       1   경상남도 합천군            41919  168.0

[182 rows x 6 columns]

In [148]:
c['인구별데이터'] = c['데이터 개수']/c['2023년03월_계_총인구수']

In [149]:
c

     Unnamed: 0  시군구 코드  데이터 개수       시군구   2023년03월_계_총인구수     순위    인구별데이터
104         104   11110       6  서울특별시 종로구           141060   75.5  0.000043
127         127   11140       5   서울특별시 중구           120963   89.0  0.000041
155         155   11170       3  서울특별시 용산구           217756  114.0  0.000014
106         106   11200       6  서울특별시 성동구           280240   75.5  0.000021
107         107   11215       6  서울특별시 광진구           336801   75.5  0.000018
..          ...     ...     ...        ...              ...    ...       ...
179         179   48820       2   경상남도 고성군            50115  138.0  0.000040
206         206   48840       1   경상남도 남해군            41425  168.0  0.000024
207         207   48870       1   경상남도 함양군            37386  168.0  0.000027
154         154   48880       3   경상남도 거창군            60462  114.0  0.000050
194         194   48890       1   경상남도 합천군            41919  168.0  0.000024

[182 rows x 7 columns]

In [150]:
c['순위'] = c['인구별데이터'].rank(ascending=False)

In [151]:
c

     Unnamed: 0  시군구 코드  데이터 개수       시군구   2023년03월_계_총인구수     순위    인구별데이터
104         104   11110       6  서울특별시 종로구           141060   56.0  0.000043
127         127   11140       5   서울특별시 중구           120963   60.0  0.000041
155         155   11170       3  서울특별시 용산구           217756  174.0  0.000014
106         106   11200       6  서울특별시 성동구           280240  145.0  0.000021
107         107   11215       6  서울특별시 광진구           336801  164.0  0.000018
..          ...     ...     ...        ...              ...    ...       ...
179         179   48820       2   경상남도 고성군            50115   62.0  0.000040
206         206   48840       1   경상남도 남해군            41425  125.0  0.000024
207         207   48870       1   경상남도 함양군            37386  110.0  0.000027
154         154   48880       3   경상남도 거창군            60462   41.0  0.000050
194         194   48890       1   경상남도 합천군            41919  127.0  0.000024

[182 rows x 7 columns]

In [152]:
e.columns

Index(['Unnamed: 0', '소방서명', '구급차 대수', '주소', '시군구 코드', '시군구 ',
       '2023년03월_계_총인구수', '순위'],
      dtype='object')

In [153]:
e['인구별구급차'] = e['구급차 대수']/e['2023년03월_계_총인구수']

In [154]:
e

,Unnamed: 0,소방서명,구급차 대수,주소,시군구 코드,시군구,2023년03월_계_총인구수,순위,인구별구급차
144,144,서울특별시 종로소방서,7,서울특별시 종로구 율곡로 78(운니동 114-2),11110,서울특별시 종로구,141060,93.5,0.000050
146,146,서울특별시 중부소방서,5,서울특별시 중구 퇴계로 394(무학동),11140,서울특별시 중구,120963,153.5,0.000041
142,142,서울특별시 용산소방서,6,서울특별시 용산구 한강대로 167 (한강로2가),11170,서울특별시 용산구,217756,124.5,0.000028
137,137,서울특별시 성동소방서,4,서울특별시 성동구 살곶이길 331(행당동),11200,서울특별시 성동구,280240,173.0,0.000014
127,127,서울특별시 광진소방서,6,서울특별시 광진구 광나루로 480 (구의동),11215,서울특별시 광진구,336801,124.5,0.000018
...,...,...,...,...,...,...,...,...,...
53,53,경상남도 고성소방서,5,경상남도 고성군 고성읍 남해안대로 2670,48820,경상남도 고성군,50115,153.5,0.000100
56,56,경상남도 남해소방서,5,경상남도 남해군 남해읍 스포츠로 81,48840,경상남도 남해군,41425,153.5,0.000121
70,70,경상남도 함양소방서,6,경상남도 함양군 함양읍 고운로 161-41,48870,경상남도 함양군,37386,124.5,0.000160
52,52,경상남도 거창소방서,6,경상남도 거창군 거창읍 거함대로 3324,48880,경상남도 거창군,60462,124.5,0.000099
71,71,경상남도 합천소방서,7,경상남도 합천군 합천읍 인덕로 2453,48890,경상남도 합천군,41919,93.5,0.000167

In [155]:
e['순위'] = e['인구별구급차'].rank(ascending=False)

In [156]:
e

,Unnamed: 0,소방서명,구급차 대수,주소,시군구 코드,시군구,2023년03월_계_총인구수,순위,인구별구급차
144,144,서울특별시 종로소방서,7,서울특별시 종로구 율곡로 78(운니동 114-2),11110,서울특별시 종로구,141060,93.0,0.000050
146,146,서울특별시 중부소방서,5,서울특별시 중구 퇴계로 394(무학동),11140,서울특별시 중구,120963,103.0,0.000041
142,142,서울특별시 용산소방서,6,서울특별시 용산구 한강대로 167 (한강로2가),11170,서울특별시 용산구,217756,125.0,0.000028
137,137,서울특별시 성동소방서,4,서울특별시 성동구 살곶이길 331(행당동),11200,서울특별시 성동구,280240,172.0,0.000014
127,127,서울특별시 광진소방서,6,서울특별시 광진구 광나루로 480 (구의동),11215,서울특별시 광진구,336801,160.0,0.000018
...,...,...,...,...,...,...,...,...,...
53,53,경상남도 고성소방서,5,경상남도 고성군 고성읍 남해안대로 2670,48820,경상남도 고성군,50115,46.0,0.000100
56,56,경상남도 남해소방서,5,경상남도 남해군 남해읍 스포츠로 81,48840,경상남도 남해군,41425,37.0,0.000121
70,70,경상남도 함양소방서,6,경상남도 함양군 함양읍 고운로 161-41,48870,경상남도 함양군,37386,20.0,0.000160
52,52,경상남도 거창소방서,6,경상남도 거창군 거창읍 거함대로 3324,48880,경상남도 거창군,60462,47.0,0.000099
71,71,경상남도 합천소방서,7,경상남도 합천군 합천읍 인덕로 2453,48890,경상남도 합천군,41919,17.0,0.000167

## 찐찐 EMCI도출
a.구급차 출동시간: 3,4 / 
b.기대수명: 2,5
c.병원:1,9 / 인구
d.보건시설:2,4
e.소방서(구급차대수):1,3 / 인구
f.의사수:2,3 (순위잇음)
g.지방소멸 6(인구소멸지수),8

In [157]:
a

          행정구역     순위 취약인구 수(명)  비율(%)  시군구코드
215  서울특별시 종로구   20.0         0   0.00  11110
217   서울특별시 중구   20.0         0   0.00  11140
213  서울특별시 용산구   20.0         0   0.00  11170
245  서울특별시 성동구   20.0         0   0.00  11200
232  서울특별시 광진구   20.0         0   0.00  11215
..         ...    ...       ...    ...    ...
110   경상남도 고성군   50.0    11,779   0.37  48820
63    경상남도 남해군   90.0    18,920   0.60  48840
107   경상남도 함양군   52.0    11,893   0.38  48870
104   경상남도 거창군   56.0    12,397   0.39  48880
45    경상남도 합천군  110.0    22,985   0.73  48890

[182 rows x 5 columns]

In [158]:
b

     지표연도        시군구  평균 기대수명     시도   군구  시군구 코드   순위
18   2019  서울특별시 종로구    85.31  서울특별시  종로구   11110   19
17   2019   서울특별시 중구    85.36  서울특별시   중구   11140   18
8    2019  서울특별시 용산구    85.68  서울특별시  용산구   11170    9
15   2019  서울특별시 성동구    85.38  서울특별시  성동구   11200   16
21   2019  서울특별시 광진구    85.10  서울특별시  광진구   11215   22
..    ...        ...      ...    ...  ...     ...  ...
249  2019   경상남도 고성군    81.42   경상남도  고성군   48820  250
212  2019   경상남도 남해군    82.22   경상남도  남해군   48840  213
177  2019   경상남도 함양군    82.63   경상남도  함양군   48870  177
112  2019   경상남도 거창군    83.24   경상남도  거창군   48880  113
236  2019   경상남도 합천군    81.67   경상남도  합천군   48890  237

[182 rows x 7 columns]

In [159]:
c

     Unnamed: 0  시군구 코드  데이터 개수       시군구   2023년03월_계_총인구수     순위    인구별데이터
104         104   11110       6  서울특별시 종로구           141060   56.0  0.000043
127         127   11140       5   서울특별시 중구           120963   60.0  0.000041
155         155   11170       3  서울특별시 용산구           217756  174.0  0.000014
106         106   11200       6  서울특별시 성동구           280240  145.0  0.000021
107         107   11215       6  서울특별시 광진구           336801  164.0  0.000018
..          ...     ...     ...        ...              ...    ...       ...
179         179   48820       2   경상남도 고성군            50115   62.0  0.000040
206         206   48840       1   경상남도 남해군            41425  125.0  0.000024
207         207   48870       1   경상남도 함양군            37386  110.0  0.000027
154         154   48880       3   경상남도 거창군            60462   41.0  0.000050
194         194   48890       1   경상남도 합천군            41919  127.0  0.000024

[182 rows x 7 columns]

In [160]:
d

           시도군     순위  보건시설 1개당 65세이상 노인인구(명)  비율(%)  시군구코드
245  서울특별시 종로구    4.0                   48.22   0.13  11110
247   서울특별시 중구    2.5                   38.12   0.11  11140
197  서울특별시 용산구   35.5                   99.24   0.28  11170
210  서울특별시 성동구   26.5                   93.22   0.26  11200
221  서울특별시 광진구   17.0                   83.00   0.23  11215
..         ...    ...                     ...    ...    ...
21    경상남도 고성군  168.5                  214.86   0.60  48820
24    경상남도 남해군  166.0                  212.99   0.59  48840
57    경상남도 함양군  144.0                  189.15   0.53  48870
81    경상남도 거창군  119.5                  168.96   0.47  48880
31    경상남도 합천군  163.0                  207.63   0.58  48890

[182 rows x 5 columns]

In [161]:
e

,Unnamed: 0,소방서명,구급차 대수,주소,시군구 코드,시군구,2023년03월_계_총인구수,순위,인구별구급차
144,144,서울특별시 종로소방서,7,서울특별시 종로구 율곡로 78(운니동 114-2),11110,서울특별시 종로구,141060,93.0,0.000050
146,146,서울특별시 중부소방서,5,서울특별시 중구 퇴계로 394(무학동),11140,서울특별시 중구,120963,103.0,0.000041
142,142,서울특별시 용산소방서,6,서울특별시 용산구 한강대로 167 (한강로2가),11170,서울특별시 용산구,217756,125.0,0.000028
137,137,서울특별시 성동소방서,4,서울특별시 성동구 살곶이길 331(행당동),11200,서울특별시 성동구,280240,172.0,0.000014
127,127,서울특별시 광진소방서,6,서울특별시 광진구 광나루로 480 (구의동),11215,서울특별시 광진구,336801,160.0,0.000018
...,...,...,...,...,...,...,...,...,...
53,53,경상남도 고성소방서,5,경상남도 고성군 고성읍 남해안대로 2670,48820,경상남도 고성군,50115,46.0,0.000100
56,56,경상남도 남해소방서,5,경상남도 남해군 남해읍 스포츠로 81,48840,경상남도 남해군,41425,37.0,0.000121
70,70,경상남도 함양소방서,6,경상남도 함양군 함양읍 고운로 161-41,48870,경상남도 함양군,37386,20.0,0.000160
52,52,경상남도 거창소방서,6,경상남도 거창군 거창읍 거함대로 3324,48880,경상남도 거창군,60462,47.0,0.000099
71,71,경상남도 합천소방서,7,경상남도 합천군 합천읍 인덕로 2453,48890,경상남도 합천군,41919,17.0,0.000167

In [162]:
f

          행정구역   순위  인구 1000명당 의사수     코드
0    서울특별시 종로구    1           21.1  11110
5     서울특별시 중구    6           10.2  11140
32   서울특별시 용산구   30            3.6  11170
30   서울특별시 성동구   30            3.6  11200
25   서울특별시 광진구   24            3.8  11215
..         ...  ...            ...    ...
182   경상남도 고성군  169            1.8  48820
194   경상남도 남해군  184            1.7  48840
176   경상남도 함양군  169            1.8  48870
146   경상남도 거창군  137            2.0  48880
120   경상남도 합천군  114            2.2  48890

[182 rows x 4 columns]

In [163]:
g

,시군구,계,남자,여자,노인수,가임기여성,인구소멸지수,노인인구비율,시군구 코드,순위
162,서울특별시 종로구,140891,68079,72812,28027,21255,0.758376,0.198927,11110.0,78.0
163,서울특별시 중구,121250,58806,62444,24977,19602,0.784802,0.205996,11140.0,83.0
160,서울특별시 용산구,217611,104580,113031,38955,35839,0.920010,0.179012,11170.0,58.0
155,서울특별시 성동구,279980,136059,143921,48118,44552,0.925891,0.171862,11200.0,50.0
145,서울특별시 광진구,336558,162071,174487,54703,59331,1.084602,0.162537,11215.0,38.0
...,...,...,...,...,...,...,...,...,...,...
62,경상남도 고성군,50025,25179,24846,17212,2791,0.162154,0.344068,48820.0,151.0
64,경상남도 남해군,41394,20137,21257,16813,2060,0.122524,0.406170,48840.0,176.0
80,경상남도 함양군,37369,18132,19237,13854,2132,0.153891,0.370735,48870.0,163.0
61,경상남도 거창군,60435,29733,30702,18238,4306,0.236100,0.301779,48880.0,130.0
81,경상남도 합천군,41868,20385,21483,17815,1985,0.111423,0.425504,48890.0,180.0

In [164]:
a = a.reset_index(drop=True)
b = b.reset_index(drop=True)
c = c.reset_index(drop=True)
d = d.reset_index(drop=True)
e = e.reset_index(drop=True)
f = f.reset_index(drop=True)
g = g.reset_index(drop=True)

In [165]:
emci_df = a.iloc[:,:2]

In [166]:
emci_df

          행정구역     순위
0    서울특별시 종로구   20.0
1     서울특별시 중구   20.0
2    서울특별시 용산구   20.0
3    서울특별시 성동구   20.0
4    서울특별시 광진구   20.0
..         ...    ...
177   경상남도 고성군   50.0
178   경상남도 남해군   90.0
179   경상남도 함양군   52.0
180   경상남도 거창군   56.0
181   경상남도 합천군  110.0

[182 rows x 2 columns]

In [167]:
emci_df = emci_df.rename(columns={'행정구역': '시군구', '순위': '구급차출동시간'})

In [168]:
emci_df

           시군구  구급차출동시간
0    서울특별시 종로구     20.0
1     서울특별시 중구     20.0
2    서울특별시 용산구     20.0
3    서울특별시 성동구     20.0
4    서울특별시 광진구     20.0
..         ...      ...
177   경상남도 고성군     50.0
178   경상남도 남해군     90.0
179   경상남도 함양군     52.0
180   경상남도 거창군     56.0
181   경상남도 합천군    110.0

[182 rows x 2 columns]

In [169]:
insert_data = a['시군구코드']

In [170]:
emci_df.insert(1, 'sig_cd', insert_data)

In [171]:
emci_df

           시군구  sig_cd  구급차출동시간
0    서울특별시 종로구   11110     20.0
1     서울특별시 중구   11140     20.0
2    서울특별시 용산구   11170     20.0
3    서울특별시 성동구   11200     20.0
4    서울특별시 광진구   11215     20.0
..         ...     ...      ...
177   경상남도 고성군   48820     50.0
178   경상남도 남해군   48840     90.0
179   경상남도 함양군   48870     52.0
180   경상남도 거창군   48880     56.0
181   경상남도 합천군   48890    110.0

[182 rows x 3 columns]

In [172]:
emci_df['기대수명'] = b['순위']

In [173]:
emci_df

           시군구  sig_cd  구급차출동시간  기대수명
0    서울특별시 종로구   11110     20.0    19
1     서울특별시 중구   11140     20.0    18
2    서울특별시 용산구   11170     20.0     9
3    서울특별시 성동구   11200     20.0    16
4    서울특별시 광진구   11215     20.0    22
..         ...     ...      ...   ...
177   경상남도 고성군   48820     50.0   250
178   경상남도 남해군   48840     90.0   213
179   경상남도 함양군   48870     52.0   177
180   경상남도 거창군   48880     56.0   113
181   경상남도 합천군   48890    110.0   237

[182 rows x 4 columns]

In [174]:
emci_df['병원수'] = c['순위']
emci_df['보건시설'] = d['순위']
emci_df['구급차수'] = e['순위']
emci_df['의사수'] = f['순위']
emci_df['지방소멸'] = g['순위']

In [175]:
emci_df

           시군구  sig_cd  구급차출동시간  기대수명    병원수   보건시설   구급차수  의사수   지방소멸
0    서울특별시 종로구   11110     20.0    19   56.0    4.0   93.0    1   78.0
1     서울특별시 중구   11140     20.0    18   60.0    2.5  103.0    6   83.0
2    서울특별시 용산구   11170     20.0     9  174.0   35.5  125.0   30   58.0
3    서울특별시 성동구   11200     20.0    16  145.0   26.5  172.0   30   50.0
4    서울특별시 광진구   11215     20.0    22  164.0   17.0  160.0   24   38.0
..         ...     ...      ...   ...    ...    ...    ...  ...    ...
177   경상남도 고성군   48820     50.0   250   62.0  168.5   46.0  169  151.0
178   경상남도 남해군   48840     90.0   213  125.0  166.0   37.0  184  176.0
179   경상남도 함양군   48870     52.0   177  110.0  144.0   20.0  169  163.0
180   경상남도 거창군   48880     56.0   113   41.0  119.5   47.0  137  130.0
181   경상남도 합천군   48890    110.0   237  127.0  163.0   17.0  114  180.0

[182 rows x 9 columns]

In [176]:
emci_df['EMCI'] = emci_df['구급차출동시간']+emci_df['기대수명']+emci_df['병원수']+emci_df['보건시설']+emci_df['구급차수']+emci_df['의사수']+emci_df['지방소멸']

In [177]:
emci_df

           시군구  sig_cd  구급차출동시간  기대수명    병원수   보건시설   구급차수  의사수   지방소멸   EMCI
0    서울특별시 종로구   11110     20.0    19   56.0    4.0   93.0    1   78.0  271.0
1     서울특별시 중구   11140     20.0    18   60.0    2.5  103.0    6   83.0  292.5
2    서울특별시 용산구   11170     20.0     9  174.0   35.5  125.0   30   58.0  451.5
3    서울특별시 성동구   11200     20.0    16  145.0   26.5  172.0   30   50.0  459.5
4    서울특별시 광진구   11215     20.0    22  164.0   17.0  160.0   24   38.0  445.0
..         ...     ...      ...   ...    ...    ...    ...  ...    ...    ...
177   경상남도 고성군   48820     50.0   250   62.0  168.5   46.0  169  151.0  896.5
178   경상남도 남해군   48840     90.0   213  125.0  166.0   37.0  184  176.0  991.0
179   경상남도 함양군   48870     52.0   177  110.0  144.0   20.0  169  163.0  835.0
180   경상남도 거창군   48880     56.0   113   41.0  119.5   47.0  137  130.0  643.5
181   경상남도 합천군   48890    110.0   237  127.0  163.0   17.0  114  180.0  948.0

[182 rows x 10 columns]

## 시발년아 정답 나와라

In [178]:
emci_df['EMCI순위'] = emci_df['EMCI'].rank(ascending=False)

In [179]:
emci_df

,시군구,sig_cd,구급차출동시간,기대수명,병원수,보건시설,구급차수,의사수,지방소멸,EMCI,EMCI순위
0,서울특별시 종로구,11110,20.0,19,56.0,4.0,93.0,1,78.0,271.0,181.0
1,서울특별시 중구,11140,20.0,18,60.0,2.5,103.0,6,83.0,292.5,179.0
2,서울특별시 용산구,11170,20.0,9,174.0,35.5,125.0,30,58.0,451.5,160.0
3,서울특별시 성동구,11200,20.0,16,145.0,26.5,172.0,30,50.0,459.5,159.0
4,서울특별시 광진구,11215,20.0,22,164.0,17.0,160.0,24,38.0,445.0,163.0
...,...,...,...,...,...,...,...,...,...,...,...
177,경상남도 고성군,48820,50.0,250,62.0,168.5,46.0,169,151.0,896.5,23.5
178,경상남도 남해군,48840,90.0,213,125.0,166.0,37.0,184,176.0,991.0,2.0
179,경상남도 함양군,48870,52.0,177,110.0,144.0,20.0,169,163.0,835.0,51.5
180,경상남도 거창군,48880,56.0,113,41.0,119.5,47.0,137,130.0,643.5,121.0
181,경상남도 합천군,48890,110.0,237,127.0,163.0,17.0,114,180.0,948.0,11.0

In [180]:
sorted_emci_df = emci_df.sort_values('EMCI순위')

In [181]:
sorted_emci_df

,시군구,sig_cd,구급차출동시간,기대수명,병원수,보건시설,구급차수,의사수,지방소멸,EMCI,EMCI순위
67,경기도 동두천시,41250,165.0,243,177.0,158.5,98.0,137,100.0,1078.5,1.0
178,경상남도 남해군,48840,90.0,213,125.0,166.0,37.0,184,176.0,991.0,2.0
95,강원도 철원군,42780,124.0,252,128.0,135.5,39.0,197,115.0,990.5,3.0
163,경상북도 칠곡군,47850,149.0,196,180.0,99.5,80.0,219,61.0,984.5,4.0
92,강원도 횡성군,42730,89.0,203,143.0,176.0,8.0,206,147.0,972.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...
18,서울특별시 영등포구,11560,20.0,15,57.0,10.5,146.0,17,49.0,314.5,178.0
1,서울특별시 중구,11140,20.0,18,60.0,2.5,103.0,6,83.0,292.5,179.0
49,광주광역시 서구,29140,20.0,57,5.0,8.5,123.0,28,39.0,280.5,180.0
0,서울특별시 종로구,11110,20.0,19,56.0,4.0,93.0,1,78.0,271.0,181.0
22,서울특별시 강남구,11680,20.0,4,15.0,1.0,156.0,4,25.0,225.0,182.0

In [182]:
sorted_emci_df.head(30)

,시군구,sig_cd,구급차출동시간,기대수명,병원수,보건시설,구급차수,의사수,지방소멸,EMCI,EMCI순위
67,경기도 동두천시,41250,165.0,243,177.0,158.5,98.0,137,100.0,1078.5,1.0
178,경상남도 남해군,48840,90.0,213,125.0,166.0,37.0,184,176.0,991.0,2.0
95,강원도 철원군,42780,124.0,252,128.0,135.5,39.0,197,115.0,990.5,3.0
163,경상북도 칠곡군,47850,149.0,196,180.0,99.5,80.0,219,61.0,984.5,4.0
92,강원도 횡성군,42730,89.0,203,143.0,176.0,8.0,206,147.0,972.0,5.0
26,부산광역시 영도구,26200,169.0,238,74.0,166.0,95.0,94,134.0,970.0,6.0
154,경상북도 영천시,47230,116.0,228,154.0,135.5,66.0,128,137.0,964.5,7.0
150,경상북도 김천시,47150,102.0,175,173.0,144.0,91.0,154,114.0,953.0,8.0
106,충청북도 음성군,43770,141.0,249,142.0,99.5,58.0,154,107.0,950.5,9.0
62,울산광역시 울주군,31710,133.0,185,135.0,106.5,119.0,215,55.0,948.5,10.0
181,경상남도 합천군,48890,110.0,237,127.0,163.0,17.0,114,180.0,948.0,11.0
114,충청남도 부여군,44760,101.0,163,171.0,158.5,48.0,137,169.0,947.5,12.0
83,경기도 여주시,41730,125.0,204,165.0,124.0,81.0,137,110.0,946.0,13.0
145,전라남도 장성군,46880,174.0,167,50.0,158.5,76.0,169,142.0,936.5,14.0
161,경상북도 고령군,47830,160.0,187,91.0,144.0,30.0,169,154.0,935.0,15.0
146,전라남도 완도군,46890,91.0,219,149.0,154.0,16.0,137,155.0,921.0,16.0
82,경기도 포천시,41650,119.0,225,107.0,135.5,61.0,169,103.0,919.5,17.0
88,강원도 태백시,42190,173.0,209,37.0,163.0,45.0,169,120.0,916.0,18.0
171,경상남도 밀양시,48270,98.0,244,16.0,163.0,77.0,169,140.0,907.0,19.0
84,경기도 가평군,41820,120.0,218,93.0,130.5,49.0,169,126.0,905.5,20.0
98,강원도 고성군,42820,87.0,248,1.0,179.0,25.0,226,138.0,904.0,21.0
40,대구광역시 달성군,27710,163.0,154,156.0,65.0,140.0,206,19.0,903.0,22.0
162,경상북도 성주군,47840,44.0,215,130.0,158.5,54.0,137,158.0,896.5,23.5
177,경상남도 고성군,48820,50.0,250,62.0,168.5,46.0,169,151.0,896.5,23.5
168,경상남도 통영시,48220,176.0,245,26.0,88.5,104.0,154,101.0,894.5,25.0
165,경상북도 봉화군,47920,82.0,142,89.0,182.0,18.0,206,175.0,894.0,26.5
174,경상남도 의령군,48720,48.0,225,67.0,151.0,23.0,206,174.0,894.0,26.5
158,경상북도 의성군,47730,88.0,240,61.0,178.0,4.0,137,182.0,890.0,28.0
97,강원도 인제군,42810,66.0,229,98.0,158.5,10.0,224,102.0,887.5,29.0
90,강원도 삼척시,42230,103.0,187,96.0,172.5,13.0,184,119.0,874.5,30.0

In [188]:
mydf = a.iloc[:,:1]

In [189]:
mydf

          행정구역
0    서울특별시 종로구
1     서울특별시 중구
2    서울특별시 용산구
3    서울특별시 성동구
4    서울특별시 광진구
..         ...
177   경상남도 고성군
178   경상남도 남해군
179   경상남도 함양군
180   경상남도 거창군
181   경상남도 합천군

[182 rows x 1 columns]

In [190]:
insert_data = a['시군구코드']

In [192]:
mydf.insert(1, 'sig_cd', insert_data)

In [193]:
mydf

          행정구역  sig_cd
0    서울특별시 종로구   11110
1     서울특별시 중구   11140
2    서울특별시 용산구   11170
3    서울특별시 성동구   11200
4    서울특별시 광진구   11215
..         ...     ...
177   경상남도 고성군   48820
178   경상남도 남해군   48840
179   경상남도 함양군   48870
180   경상남도 거창군   48880
181   경상남도 합천군   48890

[182 rows x 2 columns]

In [194]:
mydf['구급차출동시간'] = a['취약인구 수(명)']

In [195]:
mydf

          행정구역  sig_cd 구급차출동시간
0    서울특별시 종로구   11110       0
1     서울특별시 중구   11140       0
2    서울특별시 용산구   11170       0
3    서울특별시 성동구   11200       0
4    서울특별시 광진구   11215       0
..         ...     ...     ...
177   경상남도 고성군   48820  11,779
178   경상남도 남해군   48840  18,920
179   경상남도 함양군   48870  11,893
180   경상남도 거창군   48880  12,397
181   경상남도 합천군   48890  22,985

[182 rows x 3 columns]

In [199]:
mydf['기대수명'] = b['평균 기대수명']
mydf['병원수'] = c['데이터 개수']
mydf['보건시설'] = d['보건시설 1개당 65세이상 노인인구(명)']
mydf['구급차'] = e['구급차 대수']
mydf['의사수'] = f['인구 1000명당 의사수']
mydf['지방소멸지수'] = g['인구소멸지수']

In [200]:
mydf

          행정구역  sig_cd 구급차출동시간   기대수명  병원수    보건시설  구급차   의사수    지방소멸지수
0    서울특별시 종로구   11110       0  85.31    6   48.22    7  21.1  0.758376
1     서울특별시 중구   11140       0  85.36    5   38.12    5  10.2  0.784802
2    서울특별시 용산구   11170       0  85.68    3   99.24    6   3.6  0.920010
3    서울특별시 성동구   11200       0  85.38    6   93.22    4   3.6  0.925891
4    서울특별시 광진구   11215       0  85.10    6   83.00    6   3.8  1.084602
..         ...     ...     ...    ...  ...     ...  ...   ...       ...
177   경상남도 고성군   48820  11,779  81.42    2  214.86    5   1.8  0.162154
178   경상남도 남해군   48840  18,920  82.22    1  212.99    5   1.7  0.122524
179   경상남도 함양군   48870  11,893  82.63    1  189.15    6   1.8  0.153891
180   경상남도 거창군   48880  12,397  83.24    3  168.96    6   2.0  0.236100
181   경상남도 합천군   48890  22,985  81.67    1  207.63    7   2.2  0.111423

[182 rows x 9 columns]

In [201]:
mydf.to_csv('./emci_analysis.csv')