In [5]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
location = '/Users/phr/Desktop/BigTeam/data/지역별_65세_이상_인구.csv'
plt.rc('font', family = 'AppleGothic')
plt.rcParams['axes.unicode_minus'] = False

In [7]:
df = pd.read_csv(location, encoding='cp949', index_col = 0)

In [8]:
df

,연령별,2015,2016,2017,2018,2019,2020,2021
행정구역별(읍면동),,,,,,,,
행정구역별(읍면동),연령별,총인구(명),총인구(명),총인구(명),총인구(명),총인구(명),총인구(명),총인구(명)
전국,합계,51069375,51269554,51422507,51629512,51779203,51829136,51738071
전국,65세이상,6617378,6826568,7171227,7455149,7816991,8287243,8706561
서울특별시,합계,9904312,9805506,9741871,9673936,9639541,9586195,9472127
서울특별시,65세이상,1221006,1247946,1310065,1356475,1419947,1499448,1564390
부산광역시,합계,3448737,3440484,3416918,3395278,3372692,3349016,3324335
부산광역시,65세이상,500805,523738,550734,573795,602719,638890,670108
대구광역시,합계,2466052,2461002,2453041,2444412,2429940,2410700,2387911
대구광역시,65세이상,311862,324269,342105,357653,373465,394279,413854
인천광역시,합계,2890451,2913024,2925967,2936117,2952237,2945454,2957044
인천광역시,65세이상,308040,319828,339603,356437,378330,405595,432149
광주광역시,합계,1502881,1501557,1496172,1490092,1489730,1477573,1475262
광주광역시,65세이상,166208,174998,181894,188622,196320,207509,216317
대전광역시,합계,1538394,1535445,1525849,1511214,1498839,1488435,1479740
대전광역시,65세이상,164305,171173,179601,187216,196886,209143,220869
울산광역시,합계,1166615,1166033,1157077,1150116,1143692,1135423,1120753
울산광역시,65세이상,101364,107075,114418,121426,129985,140770,150768
세종특별자치시,합계,204088,242507,276589,312374,338136,353933,366227
세종특별자치시,65세이상,21103,22992,25398,27851,30280,32993,35727
경기도,합계,12479061,12671956,12851601,13103188,13300900,13511676,13652529
경기도,65세이상,1301808,1359257,1445711,1529871,1629860,1758085,1874756
강원도,합계,1518040,1521751,1521386,1520391,1520127,1521763,1521890
강원도,65세이상,254803,258392,271493,280036,292473,308977,324129
충청북도,합계,1589347,1603404,1611009,1620935,1629343,1632088,1624764
충청북도,65세이상,230533,235296,247028,255708,267154,281024,295484
충청남도,합계,2107802,2132566,2162426,2181416,2188649,2176636,2175960
충청남도,65세이상,332764,340685,354018,363156,376534,395148,411342
전라북도,합계,1834114,1833168,1826174,1818157,1807423,1802766,1787053
전라북도,65세이상,324363,332012,341921,348446,359690,375993,388650
전라남도,합계,1799044,1796017,1792319,1790352,1787543,1788807,1778124
전라남도,65세이상,372351,376193,387513,391594,399715,413852,425291
경상북도,합계,2680294,2682169,2677058,2672902,2668154,2644757,2635314
경상북도,65세이상,469036,479044,498824,514469,533578,557654,581109
경상남도,합계,3334524,3339633,3345293,3350350,3347209,3333056,3305931
경상남도,65세이상,453559,466946,490474,508948,532585,564903,593701
제주특별자치도,합계,605619,623332,641757,658282,665048,670858,673107
제주특별자치도,65세이상,83468,86724,90427,93446,97470,102980,107917

In [6]:
city = list(df.index.unique())

In [7]:
city

['행정구역별(읍면동)',
 '전국',
 '서울특별시',
 '부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '세종특별자치시',
 '경기도',
 '강원도',
 '충청북도',
 '충청남도',
 '전라북도',
 '전라남도',
 '경상북도',
 '경상남도',
 '제주특별자치도']

In [8]:
city = city[1:]

In [9]:
city

['전국',
 '서울특별시',
 '부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '세종특별자치시',
 '경기도',
 '강원도',
 '충청북도',
 '충청남도',
 '전라북도',
 '전라남도',
 '경상북도',
 '경상남도',
 '제주특별자치도']

In [10]:
df.columns

Index(['연령별', '2015', '2016', '2017', '2018', '2019', '2020', '2021'], dtype='object')

In [11]:
a = df.loc['전국','2017']

In [12]:
a

행정구역별(읍면동)
전국    51422507
전국     7171227
Name: 2017, dtype: object

In [13]:
a[0]

'51422507'

In [14]:
a[1]

'7171227'

In [15]:
year = ['2015', '2016', '2017', '2018', '2019', '2020', '2021']
dataset = {}

In [16]:
for i in city:
    data = []
    for j in year:
        temp = df.loc[i,j]
        result = round(int(temp[1])/int(temp[0])*100)
        data.append(result)
        
    dataset[i] = data

In [17]:
dataset

{'전국': [13, 13, 14, 14, 15, 16, 17],
 '서울특별시': [12, 13, 13, 14, 15, 16, 17],
 '부산광역시': [15, 15, 16, 17, 18, 19, 20],
 '대구광역시': [13, 13, 14, 15, 15, 16, 17],
 '인천광역시': [11, 11, 12, 12, 13, 14, 15],
 '광주광역시': [11, 12, 12, 13, 13, 14, 15],
 '대전광역시': [11, 11, 12, 12, 13, 14, 15],
 '울산광역시': [9, 9, 10, 11, 11, 12, 13],
 '세종특별자치시': [10, 9, 9, 9, 9, 9, 10],
 '경기도': [10, 11, 11, 12, 12, 13, 14],
 '강원도': [17, 17, 18, 18, 19, 20, 21],
 '충청북도': [15, 15, 15, 16, 16, 17, 18],
 '충청남도': [16, 16, 16, 17, 17, 18, 19],
 '전라북도': [18, 18, 19, 19, 20, 21, 22],
 '전라남도': [21, 21, 22, 22, 22, 23, 24],
 '경상북도': [17, 18, 19, 19, 20, 21, 22],
 '경상남도': [14, 14, 15, 15, 16, 17, 18],
 '제주특별자치도': [14, 14, 14, 14, 15, 15, 16]}

key는 2015 ~ 2021임.
고령화는 지역별 차이보다 전국적으로 봐야 차이가 두드러지게 나타남

In [22]:
dataset['서울특별시']

[12, 13, 13, 14, 15, 16, 17]

In [23]:
ddata = []
for i in city:
    ddata.append(dataset[i])

In [24]:
ddata

[[13, 13, 14, 14, 15, 16, 17],
 [12, 13, 13, 14, 15, 16, 17],
 [15, 15, 16, 17, 18, 19, 20],
 [13, 13, 14, 15, 15, 16, 17],
 [11, 11, 12, 12, 13, 14, 15],
 [11, 12, 12, 13, 13, 14, 15],
 [11, 11, 12, 12, 13, 14, 15],
 [9, 9, 10, 11, 11, 12, 13],
 [10, 9, 9, 9, 9, 9, 10],
 [10, 11, 11, 12, 12, 13, 14],
 [17, 17, 18, 18, 19, 20, 21],
 [15, 15, 15, 16, 16, 17, 18],
 [16, 16, 16, 17, 17, 18, 19],
 [18, 18, 19, 19, 20, 21, 22],
 [21, 21, 22, 22, 22, 23, 24],
 [17, 18, 19, 19, 20, 21, 22],
 [14, 14, 15, 15, 16, 17, 18],
 [14, 14, 14, 14, 15, 15, 16]]

In [27]:
new_df = pd.DataFrame(ddata, columns=year)

In [28]:
new_df

    2015  2016  2017  2018  2019  2020  2021
0     13    13    14    14    15    16    17
1     12    13    13    14    15    16    17
2     15    15    16    17    18    19    20
3     13    13    14    15    15    16    17
4     11    11    12    12    13    14    15
5     11    12    12    13    13    14    15
6     11    11    12    12    13    14    15
7      9     9    10    11    11    12    13
8     10     9     9     9     9     9    10
9     10    11    11    12    12    13    14
10    17    17    18    18    19    20    21
11    15    15    15    16    16    17    18
12    16    16    16    17    17    18    19
13    18    18    19    19    20    21    22
14    21    21    22    22    22    23    24
15    17    18    19    19    20    21    22
16    14    14    15    15    16    17    18
17    14    14    14    14    15    15    16

In [29]:
new_df.insert(0, '시도', city)

In [31]:
new_df

         시도  2015  2016  2017  2018  2019  2020  2021
0        전국    13    13    14    14    15    16    17
1     서울특별시    12    13    13    14    15    16    17
2     부산광역시    15    15    16    17    18    19    20
3     대구광역시    13    13    14    15    15    16    17
4     인천광역시    11    11    12    12    13    14    15
5     광주광역시    11    12    12    13    13    14    15
6     대전광역시    11    11    12    12    13    14    15
7     울산광역시     9     9    10    11    11    12    13
8   세종특별자치시    10     9     9     9     9     9    10
9       경기도    10    11    11    12    12    13    14
10      강원도    17    17    18    18    19    20    21
11     충청북도    15    15    15    16    16    17    18
12     충청남도    16    16    16    17    17    18    19
13     전라북도    18    18    19    19    20    21    22
14     전라남도    21    21    22    22    22    23    24
15     경상북도    17    18    19    19    20    21    22
16     경상남도    14    14    15    15    16    17    18
17  제주특별자치도    14    14    14    14    15    15    16